*.pydevproject
.project
.gradle
.idea
build/
cache/
gradle/
.metadata
bin/**
tmp/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.gradle/
*.class
*.jar
*.war
*.ear
gen/**
.idea/
*.iml
*.ipr
*.iws
.gradletasknamecache
bin/